# Environments & Keys
.env
.venv/
env/
venv/
instance/
.vscode/

# GCP Service Account Keys (Specific & Catch-all)
gcp-key.json
*-key.json
credentials.json
*.json 

# Python temporary files
__pycache__/
*.py[cod]
*$py.class

# Data & Uploads
*.csv
*.pkl
*.xlsx

# Project specific
archive/
archive.zip

# MUST KEEP: Allow static sample files for the judges
!static/*.csv
!static/*.pkl
!static/*.png